{
  "calendars": [
    {
      "name": "Hockey",
      "calendars": [
        {
          "name": "NHL",
          "description": "2024",
          "url": "https://api.nhl.com/ical?token=..."
        },
        {
          "name": "WPHL",
          "description": "2024",
          "url": "https://api.wphl.com/ical?token=..."
        }
      ]
    },
    {
      "name": "Basketball",
      "calendars": [
        {
          "name": "AAU",
          "description": "2022-2023",
          "url": "https://api.band.us/ical?token=..."
        },
        {
          "name": "High School",
          "description": "2022-2023",
          "url": "https://api.team-manager.gc.com..."
        }
      ]
    }
  ]
}